<!DOCTYPE html>
<html lang="en">
               <head>
               <meta charset="UTF-8">
                                    <title>My Favorite Musician Polo G</title>
                                                                        <link rel="stylesheet" href="style.css">
                                                                                                               <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap" rel="stylesheet">

                                                                                                                                                                                                                                </head>
                                                                                                                                                                                                                                  <body>
                                                                                                                                                                                                                                  <style>
                                                                                                                                                                                                                                  body {background-color: #EDEA;}

h1 {
    color:#026670 ;
    font-family:'Lato', sans-serif;
    font-size: 60px;text-align: center;
}
p {
    color: black;
    font-family:'Lato', sans-serif;
    font-size: 35px;
}
h2{
    color: #026670;
    font-family:'Lato', sans-serif;
    font-size: 50px;
}
h3{
    color:#026670;
    font-family:'Lato', sans-serif;
    font-size: 50px;
}

a:link {
    color: black;
}


a:visited {
    color: #9FEDD7;
}


a:hover {
    color:#9FEDD7;
}


a:active {
    color:#9FEDD7;
}
</style>
